////////////////////////////////////////////////
////////////////////////////////////////////////
// 0. Commons variables
$dimensions: 16 24 32 48 64 96 128 150;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 1. Initial variables

// Colors: FlatUI
$flatui_blue: #2C3E50;
$flatui_red: #E74C3C;
$flatui_lightred: lighten($flatui_red,20%);
$flatui_white: #ECF0F1;
$flatui_lightazure: #3498DB;
$flatui_darkazure: #2980B9;

////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Primary colors

$primary: $flatui_lightazure;

$link-hover: $flatui_red;
$link-hover-border: $flatui_lightred;