ul#active-projects{
  li{
    margin-bottom: 1em;
    span.project-title{
      display: block;
      margin-bottom: 0.3em;
      @extend .title;
      @extend .is-6;
    }
    p{
      display: inline-block;
      vertical-align: middle;
    }
  }
}