@charset "utf-8";

/*! bulma.io v0.5.1 | MIT License | github.com/jgthms/bulma */
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Custom variables
@import "custom-variables";

@import "../node_modules/bulma/bulma";

/*! Website styles */

@import "typography";
@import "index";
@import "blog";
@import "article";

.section-thumb{
  height: 150px;
  width: 150px;
  background: linear-gradient($flatui_darkazure, $flatui_lightazure);
  text-align: center;
  padding-top: 1.8em;
  span{
    color: $white;
    font-size: 3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    line-height: 0.5em;
  }
  &:hover{
    background: linear-gradient($flatui_red, $flatui_lightred);
  }
}

.header-wrapper{
  h1{
    border-bottom: 4px solid black;
  }
}

nav.breadcrumb{
  ul{
    li{
      &:first-child a{
        padding-left: 0;
      }
    }
  }
}