@charset "utf-8";

/*! bulma.io v0.5.1 | MIT License | github.com/jgthms/bulma */
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Custom variables
$dimensions: 16 24 32 48 64 96 128 150;

@import "../node_modules/bulma/bulma";

/*! Website styles */

@import "typography";
@import "index";
@import "blog";
@import "article";

.header-wrapper{
  h1{
    border-bottom: 4px solid black;
  }
}

nav.breadcrumb{
  ul{
    li{
      &:first-child a{
        padding-left: 0;
      }
    }
  }
}