{% extends "layout.html" %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        <figure class="image is-150x150">
            <img src="http://via.placeholder.com/150x150">
        </figure>
    </div>
    <div class="column">
        <nav class="breadcrumb bc-top bc-article" aria-label="breadcrumbs">
            <ul>
            {% for bc_entry in breadcrumb %}
                <li {% if(bc_entry[3]) %}class="is-active"{% endif %}><a href="{{ bc_entry[2] }}">{{ bc_entry[0] }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        <div class="content">
            <h1 class="article-title">{{ article.title }}</h1>
        </div>
        <div class="content article-content">
            {{ article_content | safe }}
        </div>
        <nav class="breadcrumb bc-bottom bc-article" aria-label="breadcrumbs">
            <ul>
            {% for bc_entry in breadcrumb %}
                <li {% if(bc_entry[3]) %}class="is-active"{% endif %}><a href="{{ bc_entry[2] }}">{{ bc_entry[0] }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        <nav id="article-nav">
            <ul>
                {% if prev_article %}
                <li>
                    <span class="icon">
                      <i class="fa fa-long-arrow-left"></i>
                    </span> <a href="{{ url_for('article',post_name=prev_article.name) }}">Previous article</a>
                </li>
                {% endif %}
                {% if next_article %}
                <li>
                    <a href="{{ url_for('article',post_name=next_article.name) }}">Next article</a> <span class="icon">
                      <i class="fa fa-long-arrow-right"></i>
                    </span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}