{% extends "layout.html" %}

{% block content %}
<div class="columns">
    <div class="column is-narrow">
        <div class="section-thumb">
            <span>RD</span>
            <span>dot</span>
            <span>com</span>
        </div>
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
            {% for bc_entry in breadcrumb %}
                <li {% if(bc_entry[3]) %}class="is-active"{% endif %}><a href="{{ bc_entry[2] }}">{{ bc_entry[0] }}</a></li>
            {% endfor %}
            </ul>
        </nav>
        <div class="content">
            <h1>{{ page_title }}</h1>
        </div>
        {% for article in articles %}
        <div class="content article-entry" data-n="{{ loop.index0 }}">
            <h2 class="article-title"><a href="{{ url_for('article', post_name=article.name) }}">{{ article.title }}</a></h2>
            <div class="article-content">
                {{ article.content | truncate(255) | safe }}
            </div>
            <p>
                <a href="{{ url_for('article', post_name=article.name) }}">Read the rest of the article</a>
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}